@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #294f7c;
  --secondary: #4a90e2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.font-urbanist {
  font-family: var(--font-urbanist), Arial, Helvetica, sans-serif;
}

.font-inter {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
.card {
  width: 260px;
  height: 140px;
  background: #3f5f86;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);

  transform: perspective(800px)
             rotateZ(330deg)   /* clockwise */
             rotateX(0deg)   /* tilt */
}
